@import "public/styles/mixins";

.adminLayout {
    &__header {
        @include container;
        background-color: #a0ce4e;
        height: 64px;
        transition: background .45s;

        &_content {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }


    &__link {
        font-size: 22px;
        padding-right: 16px;
    }

    &__main {
        @include container;
    }
}
