@import "@public/styles/mixins";
@import "@public/styles/variables";

.delivery {
  margin-top: 100px;

  @include deviceWidth(mobile) {
    margin-top: -65px;
  }

  &__title {
    @include w-container-title;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @include deviceWidth(mobile) {
      flex-direction: column;
    }
  }

  &__left {
    @include m-typography(20px, 28px);
    margin-right: 20px;
    width: 50%;

    @include deviceWidth(mobile) {
      @include m-typography(14px, 20px);
      margin: 0 0 20px;
      width: 100%;
    }

    & b {
      @include m-typography(20px, 28px);
      color: $colorPrimary;

      @include deviceWidth(mobile) {
        @include m-typography(14px, 20px);
      }
    }
  }

  &__right {
    @include m-typography(20px, 28px);
    width: 50%;

    @include deviceWidth(mobile) {
      @include m-typography(14px, 20px);
      width: 100%;
    }
  }

  &__images {
    display: flex;
    margin-top: 15px;

    &__item {
      @include m-hover;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
}
