@import "@public/styles/variables.scss";
@import "@public/styles/mixins.scss";

.inputImage {
  &__input {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  &__label {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 11px 27px;
    border: 1px solid #ababab;
    border-radius: 4px;
    cursor: pointer;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 13px 12px 13px 12px;
    border: 1px solid #ababab;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__content {
    margin-top: 16px;
  }

  &__btn {
    @include m-button;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__upload {
    background-color: #ff7010;
    margin-bottom: 8px;
  }

  &__remove {
    background-color: #e23535;
  }
}
