@import "@public/styles/mixins";
@import "@public/styles/variables";

.calculator {
  margin-bottom: 100px;

  @include deviceWidth(tabletPortrait) {
    margin-bottom: 70px;
  }
  @include deviceWidth(mobile) {
    margin-bottom: 60px;
  }

  &__title {
    @include w-container-title;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @include deviceWidth(mobile) {
      flex-direction: column;
    }
  }

  &__left {
    width: calc(50% - 60px);

    @include deviceWidth(mobile) {
      width: 100%;
    }
  }

  &__right {
    width: calc(50% - 60px);

    @include deviceWidth(mobile) {
      width: 100%;
    }
  }

    &__select {
        &__item {
          margin-bottom: 35px;

          &:not(:last-child) {
            margin-bottom: 35px;
          }

          @include deviceWidth(mobile) {
            margin-bottom: 20px;

            &:not(:last-child) {
              margin-bottom: 20px;
            }
          }
        }

        &__title {
            @include m-typography(20px, 28px, 700);

            & b {
                @include m-typography(15px, 21px, 500);
                color: #C33B3B;
            }
        }
    }
}
