@import "~@csstools/normalize.css";
@import "variables";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

button {
    border: 0;
    outline: 0;
    padding: 0;
    background-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;

    &:hover {
        opacity: $opacityHover;
    }
}

.disable {
    opacity: $opacityHover;
}

.form {
    padding-top: 16px;
}
