@import "@public/styles/mixins.scss";

.feature {
  margin-bottom: 48px;

  &__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 12px;
  }

  &__container {
    margin-bottom: 24px;
  }

  &__card {
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0 0;
    }
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    &__tab {
      padding: 0.5rem;
      @include m-hover;

      &_active {
        background: #e7e7e7;
        border-radius: 8px;
      }
    }
  }
}

// < 980
@media (max-width: 980px) {
  .feature {
    &__card {
      &__container {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

// < 640
@media (max-width: 640px) {
  .feature {
    &__card {
      &__container {
        grid-template-columns: 1fr;
      }
    }
  }
}
