@import "@public/styles/mixins";
@import "@public/styles/variables";

.offerCard {
    display: flex;

    &__left {
        @include m-typography(20px, 28px, 300);
        color: $colorOnPrimary;
        padding: 76px 48px 76px 60px;
        border-radius: 26px 0 0 26px;
        background-color: $colorPrimary;
        width: 50%;

        & a {
            color: $colorOnPrimary;
            border-bottom: 1px solid $colorOnPrimary;
        }
    }

    &__right {
        width: 50%;
        border-radius: 0 26px 26px 0;
        background-color: $colorPrimary;

        & img {
            border-radius: 0 26px 26px 0;
        }
    }
}
