@import "@public/styles/mixins";
@import "@public/styles/variables";

.equipment {
    &__title {
        @include w-container-title;
        margin-bottom: 70px;
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;

      @include deviceWidth(tabletLandscape) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include deviceWidth(tabletPortrait) {
        grid-template-columns: 1fr 1fr;
      }
      @include deviceWidth(mobile) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        background-color: $colorOnPrimary;
        border-radius: 10px;

        &__top {

        }

        &__title {
            @include m-typography(28px, 40px, 700);
            color: $colorPrimary;
            margin-bottom: 20px;
        }

        &__body {
            margin: 0;
            padding: 0;

            & li {
                @include m-typography(16px, 22px, 300);
                list-style-type: none;
                margin-bottom: 9px;
            }
        }

        &__button {
            padding: 17px 32px;
            border: 1px solid $colorPrimary;
            border-radius: 10px;
            color: $colorPrimary;
            text-align: center;
            cursor: pointer;

            @media (hover: hover) and (pointer: fine){
                &:hover {
                    opacity: $opacityHover;
                }
            }
        }
    }
}
