@import "@public/styles/mixins.scss";
@import "@public/styles/variables.scss";

.contacts {
  padding: 100px 0;

  @include deviceWidth(tabletPortrait) {
    padding: 64px 0;
  }
  @include deviceWidth(mobile) {
    padding: 64px 0;
  }

  &__inner {
    @include w-layout;
  }

  &__title {
    @include w-layout-title;
  }

  &__map {
    position: relative;

    &__contacts {
      position: absolute;
      top: 115px;
      left: 115px;
      padding: 30px 35px;
      background-color: $colorOnPrimary;
      border-radius: 5px;
      z-index: 12;

      &__title {
        font-family: MuseoSansCyrl700;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
        color: $colorPrimary;
      }

      &__links {
        display: flex;
        flex-direction: column;
      }


      @include deviceWidth(tabletLandscape) {
        top: 30px;
        left: 30px;
      }
      @include deviceWidth(tabletPortrait) {
        position: relative;
        top: auto;
        left: auto;
      }
      @include deviceWidth(mobile) {
        position: relative;
        top: auto;
        left: auto;
      }
    }

    &_desktop {
      & img {
        @include deviceWidth(tabletPortrait) {
          transform-origin: 62% 50%;
          transform: scale(1.8);
        }
        @include deviceWidth(mobile) {
          transform-origin: 62% 50%;
          transform: scale(1.8);
        }
      }
    }
  }

  &__link {
    font-family: MuseoSansCyrl500;
    font-size: 14px;
    line-height: 18px;
    display: flex;

    &:not(:last-child) {
      margin-bottom: 18px;
    }

    &Phone {
      &:before {
        content: '';
        display: block;
        width: 21px;
        height: 21px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 21px 21px;
        background-image: url('../../assets/layout/phone-dark.svg');
        margin-right: 17px;
      }
    }

    &Email {
      &:before {
        content: '';
        display: block;
        width: 21px;
        height: 21px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 21px 21px;
        background-image: url('../../assets/layout/email-dark.svg');
        margin-right: 17px;
      }
    }

    &VK {
      &:before {
        content: '';
        display: block;
        width: 21px;
        height: 21px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 21px 21px;
        background-image: url('../../assets/layout/vk-dark.svg');
        margin-right: 17px;
      }
    }

    &TG {
      &:before {
        content: '';
        display: block;
        width: 21px;
        height: 21px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 21px 21px;
        background-image: url('../../assets/layout/tg-dark.svg');
        margin-right: 17px;
      }
    }

    &WU {
      &:before {
        content: '';
        display: block;
        width: 21px;
        height: 21px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 21px 21px;
        background-image: url('../../assets/layout/wu-dark.svg');
        margin-right: 17px;
      }
    }

    &Pin {
      &:before {
        content: '';
        display: block;
        width: 21px;
        height: 21px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 21px 21px;
        background-image: url('../../assets/layout/pin-dark.svg');
        margin-right: 17px;
      }
    }

    &Ozon {
      &:before {
        content: '';
        display: block;
        width: 60px;
        height: 21px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60px 21px;
        background-image: url('../../assets/layout/ozon-dark.svg');
        margin-right: 17px;
      }
    }
  }
}
