@import "@public/styles/mixins";
@import "@public/styles/variables";

.basketForm {
  &__title {
    @include m-typography(28px, 40px, 700);
    color: $colorPrimary;
    margin-bottom: 38px;

    @include deviceWidth(tabletPortrait) {
      @include m-typography(20px, 28px, 700);
    }
    @include deviceWidth(mobile) {
      @include m-typography(20px, 28px, 700);
      margin-bottom: 20px;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 20px;

    @include deviceWidth(tabletPortrait) {
      grid-template-columns: 1fr 1fr;
    }
    @include deviceWidth(mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__button {
    @include m-typography(16px, 20px, 500);
    @include m-hover;
    max-height: 52px;
    background-color: $colorPrimary;
    border-radius: 10px;
    color: $colorOnPrimary;
    padding: 17px;
    width: 100%;
  }
}
