@import "@public/styles/mixins";
@import "@public/styles/variables";

.info {
    padding: 80px 0 100px;

    &__title {
        @include m-typography(28px, 32px, 700);
        margin-bottom: 70px;
        color: $colorPrimary;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 70px;

        &__left {
            @include m-typography (20px, 28px);
            margin-right: 20px;
            width: 50%;

            & b {
                @include m-typography (20px, 28px);
                color: $colorPrimary;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;

        &__right {
            @include m-typography (20px, 28px);
            margin-right: 20px;
            width: 50%;

            & b {
                @include m-typography (20px, 28px);
                color: $colorPrimary;
            }
        }
    }
}
